/* Root Variables */
:root {
  --primary-color: #462F20; /* Main background color for cards and some sections */
  --secondary-color: #D5C0AF; /* Background color for header */
  --text-color: #252525; /* Main text color */
  --card-background: #F3EBE2; /* Background color for cards */
  --footer-font-size: 1.1rem; /* Font size for footer text */
  --footer-font-style: italic; /* Font style for footer text */
}

/* Global Styles */
body {
  background-color: white; /* Background color for the entire page */
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif; /* Font family for body text */
  margin: 0;
}

/* Header Styles */
header {
  background-color: var(--secondary-color); /* Header background color */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a {
  text-decoration: none; /* Remove underline from links */
}

header a:hover {
  text-decoration: underline; /* Underline links on hover */
}

#head-title {
  text-align: center; /* Center text in header title */
}

.icon-bar {
  display: flex;
  justify-content: center; /* Center navigation items */
  padding: 0;
  margin: 0;
}

.icon-bar li {
  list-style: none; /* Remove bullets from list items */
}

.icon-bar li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; /* Font size for icons */
  padding: 20px; /* Padding around icons */
}

.icon-bar li a:hover {
  background-color: #ddd; /* Background color on hover */
  color: black; /* Text color on hover */
}

/* Heading Styles */
h1, h2 {
  font-family: 'Oswald', sans-serif; /* Font family for headings */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 2px; /* Spacing between letters */
  color: var(--text-color); /* Text color for headings */
}

h3 {
  font-family: 'Oswald', sans-serif; /* Font family for subheadings */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 2px; /* Spacing between letters */
  color: #fff; /* Text color for subheadings */
}

/* Main Content Styles */
main {
  flex: 1 0 auto;
}

/* Specific Section Styles */
.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 20px; /* Space between grid items */
}

.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 20px; /* Space between grid items */
  padding: 0 20px; /* Add horizontal padding to prevent touching the sides */
}

.cover-card {
  padding: 20px; /* Padding inside each card */
  background-color: var(--primary-color); /* Background color for cards */
  color: #fff; /* Text color for cards */
  font-size: larger; /* Font size for card text */
}

.motiv-quote {
  width: 100%; /* Full width */
  display: block;
  height: auto; /* Maintain aspect ratio */
}

.meditation-img, .books-img {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
}

.about-section, .team-section {
  padding: 50px;
  text-align: center; /* Center text */
  background-color: var(--primary-color); /* Background color for sections */
  color: white; /* Text color for sections */
}

/* Styling specific h1,h2,h3 headings */
.child-heading {
  color: white;
}

.child-two-column-grid {
  color: black;
}
/* Footer Styles */
footer {
  text-align: center; /* Center-align text in footer */
  background-color: #FFE4E1; /* Footer background color */
  padding: 20px;
}

footer p {
  text-align: center; /* Center-align text in footer */
  text-transform: lowercase; /* Lowercase text */
  font-style: var(--footer-font-style); /* Font style for footer text */
  font-size: var(--footer-font-size); /* Font size for footer text */
}

#year {
  font-size: .9rem; /* Font size for year */
}

/* Responsive Styles */
@media (max-width: 700px) {
  .three-column-grid, .two-column-grid {
    grid-template-columns: 1fr; /* Single column layout on small screens */
  }
}
